<ng-container *ngIf="products.length !=0">
<div class="container">
    <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr no.</th>
                        <th>Product Name </th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th> Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of products let i=index">
                        <td>{{i+1}}</td>
                        <td style="width: 10%;">{{item.title}}</td>
                        <td style="width: 20%;"><img src="{{item.image}}" style="width: 120px;" alt=""> </td>
                        <td style="width: 30%;">{{item.description}}</td>
                        <td>${{item.price}}</td>
                        <td>{{item.quantity}} </td>
                        <td>{{item.total}}</td>
                        <td><button (click)="removeProduct(item)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><button (click)="removeAllProduct()" class="btn btn-danger">Empty Cart</button></td>
                        <td><button routerLink="/products" class="btn btn-warning">Shop More</button></td>
                        <td><button  class="btn btn-success">Cheak Out</button></td>  
                         <!-- [(ngModel)]="amounts.allProducts" -->
                        <td><strong>Total: ${{allProducts}}</strong></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</ng-container>


<ng-container *ngIf="products.length ==0">
<div class="container">
    <div class="card">
        <h4 class="card-title"> My Cart</h4>
    </div>
    <div class="center">
        <img src="../../../assets/images/empty cart.png" alt="">
        <h5>Your Cart is empty!</h5>
        <h6>Add item to it now </h6>
        <button class="btn btn-primary" routerLink="/products">Shop now</button>
    </div>
</div>
</ng-container>